
<app-app-title [title]="'Medals per Country'" [subTitles]="subTitles"></app-app-title>

<ng-container *ngIf="asyncFlag">
  <ngx-charts-pie-chart
  [view]="view"
  [results]="data"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  [arcWidth]="0"
  (select)="onSelect($event)"
  (window:resize)="onResize($event)"
  [maxLabelLength]="100"
  >
<ng-template #tooltipTemplate let-model="model">
  <div style="width: 50px">     
    <p style="font-size: large;">{{ model.name }}</p>
    <div style="display: flex">
      <img src="./assets/icon/trophy.svg" alt="trophy" style="width: 30px"/>
      <p> {{ model.value }}</p>
    </div>
  </div>
</ng-template>
</ngx-charts-pie-chart>
</ng-container>

